//Colors
$baseColor: hsl(30, 10%, 34%);
$additionalColor: hsl(14, 45%, 36%);

//Font Families
$baseFont: "Outfit";
$titleFont: "YoungSerif";

//Font sizes
$baseFontSize: 1.6rem;
$titleFontSize: 2.6rem;

//Line Height
$lineHeightSmall: 2rem;
$lineHeightLarge: 3rem;

//Paddings
$paddingBase: 3rem;
$paddingSmall: 2rem;
