@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "YoungSerif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-style: normal;
}

@import "./vars";
@import "./padding";

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 10px;
}
body {
  width: 375px;
  font-family: $baseFont;
  color: $baseColor;
  font-size: $baseFontSize;
}
.recipeImage {
  img {
    width: 100%;
  }
}
.header {
  font-size: 3rem;
  font-family: $titleFont;
  font-weight: 100;
  color: hsl(24, 5%, 18%);
}
.description {
  font-family: $baseFont;
  color: $baseColor;
}
.recipe__info {
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
}
.recipe__item::marker {
  color: hsl(332, 51%, 32%);
}
.recipe__steps {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.recipe__time {
  font-size: $baseFontSize * 1.5;
  font-family: $baseFont;
  font-weight: 600;
  color: hsl(332, 51%, 32%);
}
.recipe__item {
  line-height: $lineHeightSmall;
}
.section-title {
  font-family: $titleFont;
  font-weight: 100;
  font-size: $titleFontSize;
}
.ingredients__item {
  line-height: $lineHeightLarge;
}
.ingredients__item::marker,
.instruction__item::marker,
.brown {
  color: $additionalColor;
  font-weight: bold;
}
.instruction__item {
  &::marker {
    font-weight: bold;
  }
}
.divider {
  border: 1px solid lighten($baseColor, 60%);
}
.nutrition__table {
  width: 100%;
  border-collapse: collapse;
  td {
    border-bottom: 1px solid lighten($baseColor, 60%);
  }
}

@media (min-width: 750px) and (max-width: 1440px) {
  body {
    background-color: hsl(30, 54%, 90%);
    width: 735px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
  }
  .wrapper {
    background-color: white;
    border-radius: 20px;
  }
  .recipeImage {
    img {
      margin-top: $paddingSmall;
      border-radius: 20px;
    }
  }
}
